*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.app-wrapper {
    display: grid;
}
.todo-machine{
    margin: 80px 15px 0 15px;
    background: #f8f8f8;
    border-radius: 30px;
    min-height: 300px;
    max-width: 600px;
    padding: 50px;
    align-self: center;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
p{
    letter-spacing: 1px;
    font-size: 18px;
}
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.list-item p {
    margin-bottom: 2px;
}
.todo-header {
    text-align: center
}
.todo-search-wrapper {
    text-align: center;
    margin: 15px 0;
}
.todo-search {
    padding: 10px;
    border: #9c9c9c solid 2px;
    border-radius: 25px;
    min-width: 215px; 
}
.todo-search::placeholder {
    font-style: italic;
}
.todo-search:focus {
    border-color: none; 
}
.todo-item-check {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.todo-item-check.completed {
    color: green;
}
.todo-item-delete {
    margin-left: auto;
    display: inline-block;
    font-size: 24px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 17px;
}
.todo-item-delete:hover {
    color: #ec1c24;
    transform: scale(1.5);
}
.todo-item-add-wrapper {
    display: flex;
    margin-top: 25px;
}
.todo-item-add {
    transition: 0.3s;
    font-size: 58px;
    color: #9cacc8;
    display: inline-block;
    margin-left: auto;
    justify-self: end;
    cursor: pointer;
}
.todo-item-add:hover {
    transform: rotate(90deg);
    color: #d188d8;
}
.search-query {
    text-align: center;
    margin: 15px 0;
}
.todo-not-found {
    text-align: center;
}
.modal-wrapper {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    width: 500px;
    padding: 20px 0;
    border-radius: 15px;
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
    grid-template-rows: auto;
}
.modal-content > p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}
.close-modal {
    font-size: 34px;
    cursor: pointer;
    transition: 0.3s;
}
.close-modal:hover {
    color: #ec1c24;
}
#create-todo-form {
    resize: none;
    padding: 10px;
}
#create-todo-form:focus {
    border: #d188d8;
}
#create-todo-form::placeholder {
    font-style: italic;
    font-size: 16px;
}
.modal-content form {
    align-self: start;
    margin-top: 15px;
}
.btn-wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.btn-wrapper button {
    padding: 10px;
    min-width: 80px;
    border: none;
    background-color: #9cacc8;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.btn-wrapper button:hover {
    background-color: #d188d8;
}
.todo-header h1 {
    margin-bottom: 15px;
}
.todo-list {
    max-height: 310px;
    overflow: hidden;
    overflow-y: auto;
}
.todo-item-delete,
.todo-item-check {
    padding-top: 5px;
}
.header-message {
    margin-top: 25px;
}